<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inglés para el Trabajo</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}" >
    <link rel="stylesheet" th:href="@{/css/board.css}" >
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<body>

<th:block th:replace="plantilla :: header"></th:block>
<div id="welcomeContainer">
    <div id="titleContainer">
        <span class="blackLine"></span>
        <h4> <span class="orangeTitle">INGLÉS</span>
            <br>PARA EL
            <br>TRABAJO
        </h4>
    </div>

    <p>BIENVENIDO JUAN PÉREZ</p>
</div>


<div id="boardContainer">
    <div class="cardContainer">
        <div class="levelContainer">
        <span class="blackLine"></span>
        <p>FORMULARIO
            <br><span class="grayLetters"> DATOS
            <br> PERSONALES </span></p>
        </div>

        <button class="blackButton" id="formularyButton1" onclick="prueba1()">COMPLETAR</button>
        <p id="success1" class="success" style="display: none">¡COMPLETADO CON ÉXITO!</p>

    </div>

    <div class="cardContainer">
        <div class="levelContainer">
            <span class="blackLine"></span>
            <p>TEST
                <br><span class="goldenLetters"> NIVEL 1 </span></p>
        </div>

        <a href="/test/level1"><button class="blackButton" id="formularyButton2" onclick="prueba2()">COMPLETAR</button></a>
        <p id="success2" class="success" style="display: none">¡COMPLETADO CON ÉXITO!</p>

    </div>

    <div class="cardContainer">
        <div class="levelContainer">
            <span class="blackLine"></span>
            <p>TEST
                <br><span class="purpleLetters"> NIVEL 2</span></p>
        </div>

        <button class="blackButton" id="formularyButton3" onclick="prueba3()">COMPLETAR</button>
        <p id="success3" class="success" style="display: none">¡COMPLETADO CON ÉXITO!</p>

    </div>

    <div class="cardContainer">
        <div class="levelContainer">
            <span class="blackLine"></span>
            <p>TEST
                <br><span class="greenLetters"> NIVEL 3</span></p>
        </div>

        <button class="blackButton" id="formularyButton4" onclick="prueba4()">COMPLETAR</button>
        <p id="success4" class="success" style="display: none">¡COMPLETADO CON ÉXITO!</p>

    </div>

    <div class="cardContainer">
        <div class="levelContainer">
            <span class="blackLine"></span>
            <p>TEST
                <br><span class="blueLetters"> NIVEL 4</span></p>
        </div>

        <button class="blackButton" id="formularyButton5" onclick="prueba5()">COMPLETAR</button>
        <p id="success5" class="success" style="display: none">¡COMPLETADO CON ÉXITO!</p>

    </div>
</div>

<div id="finishContainer">
    <div class="cardContainer">
        <div class="levelContainer">
            <span class="blackLine"></span>
            <p>FELICITACIONES, TU NIVEL ALCANZADO ES:<span class="purpleLetters" onclick="prueba()"> NIVEL 2</span> </p>
        </div>
    </div>
</div>



<th:block th:replace="plantilla :: footer-mobile"></th:block>
<th:block th:replace="plantilla :: footer-web"></th:block>


<script th:src="@{/javascript/board.js}"></script>


</body>
</html>