<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Test L1</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}" >
    <link rel="stylesheet" th:href="@{/css/test.css}" >

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>

<th:block th:replace="plantilla :: header"></th:block>

<div id="container">

    <div id="timerContainer" th:fragment="timer">
        <div id="timer">
            <h1 id="counterDisplay"><span id="minute"></span>:<span id="second"></span></h1>
        </div>
    </div>

    <div id="testContainer">
        <div id="test" data-aos="fade-left" data-aos-duration="2000" th:fragment="test (${prueba})">
           <h2 id="personalData" th:if="${prueba == 'personalData'}">PERSONAL DATA</h2>
            <div id="level1" th:if="${prueba == 'level1'}">

                <div class="questionContainer">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/s8az2Rzook0?si=6xS1xzidCwtRYvOT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

                        </iframe>
                        <p class="question">1- Who walks to work?</p>


                    <input th:dropzone="prueba1" id="dropQuestion1" class="dropQuestion">

                </div>
                    <div class="answerContainer">
                        <span id="answer1" draggable="true" class="drag answer">a.Lena</span>
                        <span id="answer2" draggable="true" class="drag answer">b.Paul</span>
                        <span id="answer3" draggable="true" class="drag answer">c.Holly</span>
                    </div>

                <hr>

                <div class="questionContainer">
                    <p class="question">2- Who rides a scooter to work?</p>

                    <input th:dropzone="prueba1" id="dropQuestion2" class="dropQuestion">

                </div>

                    <div class="answerContainer">
                        <span id="answer4" draggable="true" class="drag answer">a.Lena</span>
                        <span id="answer5" draggable="true" class="drag answer">b.Paul</span>
                        <span id="answer6" draggable="true" class="drag answer">c.Holly</span>
                    </div>

                <hr>

                <div class="questionContainer">
                    <p class="question">3- Who takes a bus or coach to buy food and visit friends?</p>

                    <input th:dropzone="prueba1" id="dropQuestion3" class="dropQuestion">

                </div>
                    <div class="answerContainer">
                        <span id="answer7" draggable="true" class="drag answer">a.Lena</span>
                        <span id="answer8" draggable="true" class="drag answer">b.Paul</span>
                        <span id="answer9" draggable="true" class="drag answer">c.Holly</span>
                    </div>

                <hr>

                <div class="questionContainer">
                    <p class="question">4- Who cycles to college?</p>

                    <input th:dropzone="prueba1" id="dropQuestion4" class="dropQuestion">

                </div>
                <div class="answerContainer">
                    <span id="answer10" draggable="true" class="drag answer">a.Lena</span>
                    <span id="answer11" draggable="true" class="drag answer">b.Paul</span>
                    <span id="answer12" draggable="true" class="drag answer">c.Holly</span>
                </div>

                <hr>

                <div class="questionContainer">
                    <p class="question">5- Who uses the subway to buy food?</p>

                    <input th:dropzone="prueba1" id="dropQuestion5" class="dropQuestion">

                </div>
                <div class="answerContainer">
                    <span id="answer13" draggable="true" class="drag answer">a.Lena</span>
                    <span id="answer14" draggable="true" class="drag answer">b.Paul</span>
                    <span id="answer15" draggable="true" class="drag answer">c.Holly</span>
                </div>

                <hr>

                <div class="questionContainer">
                    <p class="question">6- Who hires a car to visit other cities?</p>

                    <input th:dropzone="prueba1" id="dropQuestion6" class="dropQuestion">

                </div>
                <div class="answerContainer">
                    <span id="answer16" draggable="true" class="drag answer">a.Lena</span>
                    <span id="answer17" draggable="true" class="drag answer">b.Paul</span>
                    <span id="answer18" draggable="true" class="drag answer">c.Holly</span>
                </div>

                <hr>

                <div class="questionContainer">
                    <p class="question">7- Who takes the train when he goes out at night?</p>

                    <input th:dropzone="prueba1" id="dropQuestion7" class="dropQuestion">

                </div>
                <div class="answerContainer">
                    <span id="answer19" draggable="true" class="drag answer">a.Lena</span>
                    <span id="answer20" draggable="true" class="drag answer">b.Paul</span>
                    <span id="answer21" draggable="true" class="drag answer">c.Holly</span>
                </div>

                <hr>

               <div class="buttonContainer"> <button class="submitButton">ENVIAR</button> </div>
            </div>
            <h2 id="level2" th:if="${prueba == 'level2'}">LEVEL2</h2>
            <h2 id="level3" th:if="${prueba == 'level3'}">LEVEL3</h2>
            <h2 id="level4" th:if="${prueba == 'level4'}">LEVEL4</h2>
        </div>
    </div>

</div>

<th:block th:replace="plantilla :: footer-mobile"></th:block>
<th:block th:replace="plantilla :: footer-web"></th:block>

    <script th:src="@{/javascript/timer.js}"></script>

<script>
    AOS.init();
</script>

</body>
</html>