<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Test L1</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}" >
    <link rel="stylesheet" th:href="@{/css/test.css}" >
</head>
<body>

<th:block th:replace="plantilla :: header"></th:block>

<div class="container">

</div>

<th:block th:replace="plantilla :: footer-mobile"></th:block>
<th:block th:replace="plantilla :: footer-web"></th:block>



</body>
</html>