body{
    background-color: rgba(217, 217, 217, 0.73);
}

#bannerContainer{
    display: flex;
    flex-direction: row;
}

.orangeTitle{
    color: #E74C3C;
}

#titleContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    box-shadow: -100px -10px 10px 30px rgba(217, 217, 217, 0.73) ;
}

#bannerContainer img{

    width: 70%;
    height: fit-content;
}

.blackLine{
    background-color: black;
    width: 15px;
    height: 120px;
    margin-right: 5px;
}

#logSection{
    padding: 40px;
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

#infoSection{
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#authSection{
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

#authSection input{
    width: 400px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    background-color: rgba(217, 217, 217, 0.20);
    text-align: center;
    font-weight: 600;
}

#authSection button{
    width: 200px;
    padding: 8px;
    margin: auto;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

#logSection p{
    font-weight: 500;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#authSection button:hover{
    width: 210px;
    transition: 0.5s;
}