.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#timerContainer{
    background-color: #a6a4a4;
    float: right;
    padding: 20px;
    width: fit-content;
    position: fixed;
    margin: 10px 0 0 10px;
    border-radius: 10px;
    z-index: 100;
}

#testContainer{
    margin: auto;
}

#test{
    background-color: #a6a4a4 ;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}